<%= form_for(ewidencja) do |f| %>
  <% if ewidencja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ewidencja.errors.count, "error") %> prohibited this ewidencja from being saved:</h2>

      <ul>
      <% ewidencja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <div class="field">
    <%= f.label :nr %>
    <%= f.text_field :nr %>
  </div>

  <div class="field">
    <%= f.label :przychod %>
    <%= f.text_field :przychod %>
  </div>

  <div class="field">
    <%= f.label :wydatki %>
    <%= f.text_field :wydatki %>
  </div>

  <div class="field">
    <%= f.label :uwagi %>
    <%= f.text_area :uwagi %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
