<p id="notice"><%= notice %></p>

<h1>Ewidencja</h1>

<div class="table-responsive">
<table class="table table-bordered">



<%@lata=Array.new%>

  <% @ewidencjas.each do |x| %>
  <%if current_user.id==x.user_id%>
  <%@lata<<x.data.year%>

  <%end%>
<%end%>

 <%@lata.uniq.each do |y| %>
<%@nr=1%>
 <% @przychody=0.00 %>
<%@rozchody=0.00%>

<div class="table-responsive">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>numer</th>
      <th>Data</th>
      <th>Nr dowodu</th>
      <th>Przychod</th>
      <th>Wydatki</th>
      <th>Uwagi</th>
      <th colspan="3"></th>
    </tr>
  </thead>


    <% @ewidencjas.each do |ewidencja| %>
    <%if y==ewidencja.data.year%>
<%if current_user.id==ewidencja.user_id%>
<tbody>
      <tr>
      <td><%=@nr%></td>
        <td><%= ewidencja.data %></td>
        <td><%= ewidencja.nr %></td>
        <td><%= ewidencja.przychod %></td>
        <td><%= ewidencja.wydatki %></td>
        <td><%= ewidencja.uwagi %></td>
        <td><%= link_to 'Show', ewidencja %></td>
        <td><%= link_to 'Edit', edit_ewidencja_path(ewidencja) %></td>
        <td><%= link_to 'Destroy', ewidencja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%@nr=@nr+1%>
     <%@przychody=@przychody+ewidencja.przychod%>
     <%@rozchody=@rozchody+ewidencja.wydatki%>
      </tr>

<% end %>
<% end %>

    <%end%>

<tr>
        <td></td>
        <td></td>
        <td></td>
        <td>SUMA: <strong><%=@przychody%></strong></td>
        <td>SUMA: <strong><%=@rozchody%></strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

<%=y%>
<p><strong>BILANS: <%=@przychody-@rozchody%></strong></p>
    <%end%>

      </tr>
  </tbody>
</table>

</div>

<br>

<%= link_to 'New Ewidencja', new_ewidencja_path %>
